* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

span {
  color: #78ff00;
  text-shadow: 2px 2px 0px #333;
}

.small {
  text-shadow: 1px 1px 0px #333;
}

body {
  position: relative;
  font-family: 'Noto Sans TC', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  z-index: 99;
}

header .logo {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin-left: 10%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header .logo span {
  margin-left: 10px;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header ul li {
  margin: 0 20px;
  line-height: 18px;
}

header ul li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  z-index: 2;
}

header ul li a:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #78ff00;
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header ul li a:hover::before, header ul li a.active::before {
  width: 100%;
}

.banner {
  margin-top: 60px;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.banner .banner-img {
  width: 100%;
  height: 100vh;
  background: url("../img/banner.jpg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
}

.banner .self-info {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-align: center;
}

.banner .self-info .personal {
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 0 0 50px 40px #fff;
          box-shadow: 0 0 50px 40px #fff;
  border-radius: 50%;
  background: url("../img/person.jpg") no-repeat;
  background-size: cover;
}

.banner .self-info h1 {
  font-size: 50px;
  margin-top: 40px;
  text-shadow: 3px 3px #333;
}

.banner .self-info p {
  font-size: 40px;
  margin-top: 20px;
  text-shadow: 2px 2px #333;
}

.about {
  width: 100%;
  height: 100vh;
  margin-top: -1px;
}

.sub-title {
  width: 200px;
  height: 50px;
  padding: 5px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 40px;
  background-color: #333;
}

.container {
  position: relative;
  padding: 100px 100px 0 100px;
  min-height: 100vh;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #333;
  z-index: -2;
}

.works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 70px 0;
  position: relative;
}

.works-content::after {
  content: 'Trello';
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12vw;
  font-weight: 700;
  opacity: 0.1;
  z-index: -2;
}

.works-content .banner-text {
  position: relative;
  max-width: 500px;
  margin-right: 50px;
}

.works-content .banner-text h2 {
  font-size: 54px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2em;
  color: #333;
}

.works-content .banner-text p {
  font-size: 18px;
  line-height: 1.8em;
  color: #333;
  margin: 20px 0;
}

.works-content .banner-text a {
  position: relative;
  display: inline-block;
  font-size: 20px;
  text-decoration: none;
  font-weight: 900;
  padding: 15px;
  letter-spacing: 2px;
  color: #333;
}

.works-content .banner-text a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #78ff00;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: -1;
}

.works-content .banner-text a:hover::before {
  width: 100%;
}

.works-content .works-img {
  position: relative;
  width: 60%;
  height: 440px;
  background: #000;
}

.works-content .works-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.icons .sci,
.icons .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.icons .sci li {
  list-style: none;
  margin-right: 30px;
}

.icons .sci li img {
  display: inline-block;
  max-height: 24px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.icons .sci li:hover img {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.icons .controls li {
  list-style: none;
  padding: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.icons .controls li img {
  display: inline-block;
  max-height: 30px;
}

.icons .controls li:hover {
  opacity: 0.5;
}

.menu-icon {
  display: none;
}

@media (max-width: 992px) {
  .container {
    padding: 100px 30px;
  }
  .container::before {
    display: none;
  }
  header {
    padding: 0;
    height: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .logo {
    margin-left: 50px;
    text-align: center;
    font-size: 25px;
  }
  header ul {
    top: 0;
    left: 0;
    padding: 100px 0;
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 100% -10%);
    -ms-clip-path: circle(100px at 100% -10%);
    -webkit-clip-path: circle(100px at 100% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
  header ul li {
    padding: 20px;
    text-align: center;
  }
  header ul li a {
    color: #fff !important;
    font-size: 40px;
  }
  header ul li a:hover::before, header ul li a.active::before {
    width: 100%;
  }
  header.active ul {
    clip-path: circle(1300px at 100% -10%);
    -ms-clip-path: circle(1300px at 100% -10%);
    -webkit-clip-path: circle(1300px at 100% -10%);
  }
  header.active .menu-icon {
    background-image: url("../icon/multiplication.png");
    background-size: cover;
    -webkit-filter: invert(1);
            filter: invert(1);
    cursor: pointer;
  }
  .works-content {
    margin-top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .works-content .banner-text {
    max-width: 100%;
    margin-right: 0;
  }
  .works-content .banner-text h2 {
    font-size: 35px;
  }
  .works-content .works-img {
    width: 100%;
    height: 40vh;
    margin: 20px 0;
  }
  .icons {
    margin-top: 40px;
  }
  .icons .controls li {
    -webkit-filter: invert(0);
            filter: invert(0);
  }
  .menu-icon {
    display: initial;
    margin-right: 20px;
    background-image: url("../icon/hamburger.png");
    -webkit-filter: invert(1);
            filter: invert(1);
    background-size: cover;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 30;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 80px 30px;
  }
  .banner .self-info .personal {
    width: 200px;
    height: 200px;
  }
  .banner .self-info h1 {
    font-size: 40px;
  }
  .banner .self-info p {
    font-size: 30px;
    line-height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */